.container {  
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    min-width: 1000px !important;
    padding-left: 20px;
    padding-right: 20px;
}
.container-small, .container-large {
    max-width: 100%;
}
.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

img {   
  max-width: 100%;   
  height: auto;  
}

.fill { 
    min-height: 100%;
    height: 100%;
}

/*body {  
    background: url("../img/teste2.jpg") no-repeat center center fixed;  
    -webkit-background-size: cover;  
    -moz-background-size: cover;  
    -o-background-size: cover;  
    background-size: cover;
}*/


/*.background {  
display: block;  
height: 0;  
padding-bottom: 80%;  
background: url("../img/teste2.jpg") no-repeat;  
background-size: 100%;  
text-indent: -9999px;
background-color: #ccc;  
}*/



/*# sourceMappingURL=bootstrap.css.map */
.no-gutter > [class*='col-'] {
    padding-right:0 !important;
    padding-left:0;
}

/*Media Queries*/
@media (min-width: 37em) { ... } /* 592px */
@media (min-width: 41em) { ... } /* 656px */
@media (min-width: 47em) { ... } /* 752px */
@media (min-width: 68em) { ... } /* 1088px */
@media (min-width: 82em) { ... } /* 1312px */
@media (min-width: 100em) { ... } /* 1600px */

@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }

    img.bg {
    	width: 100%;
    }
    .container-large {
        width: 970px;
    }
     img.bg {
    	width: 100%;
    }

}
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
     img.bg {
    	width: 100%;
    }
    .container-large {
        width: 1170px;
    }
     img.bg {
    	width: 100%;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
     img.bg {
    	width: 100%;
    }
    .container-large {
        width: 1500px;
    }
     img.bg {
     	height: 44.8em;
    	width: 100%;
    }
}

@media (min-width: 1900px) {
    .container-small {
        width: 700px;
    }
     img.bg {
    	width: 100%;
    }
    .container-large {
        width: 137.2em;
    }
     img.bg {
    	width: 100%;
    	height: 67.1em;
    }
}
/*CSS GERAL*/
.h3-padding{
    padding-right: 0.5em;
    padding-left: 0.5em;
}

/*CSS das TABELAS */
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 20px 0;
    white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 30px;
    white-space: nowrap;
}

.right {
    float: right;
}
/*margin bottom do botao*/
.mg-btn-bttm {
    margin-bottom: 0.5em;
    margin-right: 0.8em;
}

