@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

html {
  background: #fff;
  color: #2a2a2a;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

h1 {
  color: #fff;
  text-align: center;
  font-weight: 300;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 800px;
  height: 600px;
 /* width: 85.4em;
  height: 39.2em;*/
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

