@charset "UTF-8";
/**
 * Foundation for Sites by ZURB
 * Version 6.1.2
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
   * 1. Set default font family to sans-serif.
   * 2. Prevent iOS and IE text size adjust after device orientation change,
   *    without disabling user zoom.
   */

.content {
	width: 600px;
	height: 100%;
	background-color: #fff;
}

.container {
	background-color: #fff;
	padding: 2em;
}

.tabela {
	padding-top: 2em;
}